{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/empresa.css' %}">
    {% block extra_head %}
    {% endblock %}
    <link href="https://bootswatch.com/5/simplex/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f71f5575d2.js" crossorigin="anonymous"></script>
    {% comment %} <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lc9IQYhAAAAAHZOh-gNqTVxO5ID7mV0uIv8Q4UF"></script>
    <script>
    grecaptcha.enterprise.ready(function() {
        grecaptcha.enterprise.execute('6Lc9IQYhAAAAAHZOh-gNqTVxO5ID7mV0uIv8Q4UF', {action: 'login'}).then(function(token) {
        ...
        });
    }); 
    </script> {% endcomment %}
    <script type="text/javascript">
        var onloadCallback = function() {
            const captcha = grecaptcha.enterprise.render('html_element', {
            'sitekey' : '6Lc9IQYhAAAAAHZOh-gNqTVxO5ID7mV0uIv8Q4UF',
            });
   
          let formLogin = document.getElementById('form-login');
          formLogin.addEventListener('submit', function(e){
              e.preventDefault();
              let  responseCaptcha = grecaptcha.enterprise.getResponse (
                captcha
                )
                if(responseCaptcha.length == 0){
                    alert('Por favor, verifique que habilite el captcha');
                    return false;
                }else{
                    formLogin.submit();
                }
          });
        };
    </script>

  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>